<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom sticky-top pb-3">
  <div class="container-fluid">

    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- LEFT -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/">Explore</a>
        </li>
      </ul>

      <!-- CENTER -->
      <form class="d-flex mx-3" role="search" method="get">
        <input class="form-control me-2 search-inp"
          type="search"
          name="search"
          placeholder="Search Destinations" />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>Search
        </button>
      </form>

      <!-- RIGHT -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </li>

        <% if(!currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>SignUp</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Login</b></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Logout</b></a>
          </li>
        <% } %>
      </ul>

    </div>

  </div>
</nav>

