html, body {
  height: 100%;
}

body{
   font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
}

.main-content .row{
    width: 100%;
}

/* navbar */
.navbar{
   /* height: 5rem; */
    background-color: white;
}

.fa-compass{
    color:#fe424d ;
    font-size: 2rem;

}

.nav-link{
    color: #222222  !important;
}

/* footer */
.f-info-links a{
    color: #222222;
text-decoration: none;
}

.f-info-links a:hover{
    text-decoration: underline;
}

footer{
    margin-top: auto;
}
.f-info{
    text-align: center;
 padding: 2rem 0;


    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   

}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}


/* cards */
.listing-card{
   border: none !important;
   margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
  
  

   
   

}

.listing-card:hover{
  transform: translateY(-6px);
    /* box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15); */
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% ;
  height:265px;
    object-fit: cover !important; 
}


.show-card .card-img-top {
     width: 100%;
  height:300px;
  max-width: 450px;
  /* max-height: 500px; */
 
  object-fit: cover;
  border-radius: 16px;
  display: block;
  
}


/*  */
@media (max-width:576px){
    .card-img-top{
        height: 130px;
    }
}

.card-body{
    padding: 0% !important;
    
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-image-overlay{
    opacity: 1;
}

/* New page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
        background-color: #fe424d !important;

    border: none !important;


}


.col-1{
    display: flex;
    
   
   
}

/* .btn{ */
    /* height: 3rem; */
    /* width: 10rem; */
/* } */

.show-card{
    max-width: 600px;
   margin:0 auto;
    padding-left: 0;
    padding-right: 0;
    
    
}

.btns{
    display: flex;
    height: 2.5rem !important;
  
  
}


